$primary: $orange-4;

.btn {
  cursor: pointer;
  font-weight: 400;
  line-height: 21px;
  border-radius: 8px;

  &--primary--solid {
    background-color: $primary;
    color: $white;
    border: 2px solid $primary;
  }
  &--gray--solid {
    background-color: $gray;
    color: $white;
    border: 2px solid $gray;
  }
  &--lightPrimary--solid {
    background-color: #ffd8b8;
    border: 1px solid $primary;
    border-radius: 4px;
  }
  &--primary--outline {
    background-color: transparent;
    border: 1px solid $primary;
    border-radius: 8px;
    color: $primary;
  }
  &--disabled--solid {
    background-color: $gray;
    border-radius: 8px;
    color: $white;
  }
  &--disabled--outline {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid $gray;
    color: $gray;
  }
  &--success--outline {
    color: $success;
    border: 1px solid $success;
    border-radius: 8px;
    background-color: transparent;
  }
  &--danger--outline {
    color: $red;
    border: 1px solid $red;
    border-radius: 8px;
    background-color: transparent;
  }
  &--blue--outline {
    color: $blue-4;
    border: 1px solid $blue-4;
    border-radius: 8px;
    background-color: transparent;
  }
  /* Button Size */
  &--medium {
    padding: 14px 49px;
    font-size: 18px;
  }
  &--small {
    padding: 8px 10px;
    font-size: 16px;
  }
  &--s {
    width: 100px;
    font-size: 16px;
  }
  &--large {
    width: 160px;
    height: 52px;
    font-size: 18px;
  }
}
