.title-header {
  @include flex(center, flex-start);
  &_chil {
    color: #c9c4c0;
    > i {
      color: $orange-4;
      font-weight: bold;
      font-size: 18px;
    }
  }
  h1 {
    font-size: 48px !important;
    line-height: 56px !important;
    color: $black-7 !important;
    margin-bottom: 0;
  }
}
