.ModalDowload {
  width: 884px;
  padding: 24px 64px;
  text-align: center;
  background-color: $white;
  border-radius: 16px;
  > h1 {
    font-size: 28px;
    line-height: 33px;
    color: $black-7;
  }
  &-btn {
    margin-top: 40px;
    button {
      color: $black-7;
    }
  }
  .actionDelete {
    font-size: 22px;
    font-weight: 700;
    color: #823b00;
    cursor: pointer;
  }
}
