.dropdown {
  background-color: $white;
  position: relative;
  &-icon {
    cursor: pointer;
    color: $orange-4;
    font-size: 14px;
    line-height: 21px;
    padding: 6px 9px;
    border-left: 1px solid $black-7;
  }
  &-btn {
    border: 1px solid $black-7;
    border-radius: 4px;
    @include flex(center, space-between);
    > span {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      line-height: 21px;
      padding: 6px 10px 6px 12px;
    }
  }
  &-item {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    padding: 5.5px 8px;
  }
  &-content {
    cursor: pointer;
    background-color: $white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 1px 2px $black-7;
    position: absolute;
    width: 100%;
    z-index: 100;
  }
}
