.Statistical {
  background-color: $orange-3;
  box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
  border-radius: 16px;
  width: $width-multipleRows-item;
  padding: 8px;
  margin-left: 20px;
  &-title {
    line-height: 21px;
    padding: 16px 0 8px 32px;
  }
  &-main {
    background-color: $white;
    padding: 21px 0 0 32px;
    border-radius: 10px;
    &_content {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      grid-column: span 2;
    }
    &_number {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: $orange-5;
    }
    &-item {
      padding-bottom: 15px;
    }
  }
}
