.info {
  &-button {
    width: 100%;
    @include flex(center, space-between);
    margin-bottom: 28px;
  }
  &-change {
    @include flex(center, space-around);
    width: 500px;
    height: 48px;
    background-color: $gray-5;
    border-radius: 32px;
    cursor: pointer;
    z-index: 100;
    &_button {
      opacity: 0.5;
      color: $orange-7;
      transition: all 0.5 linear;
      &.active {
        background-color: $orange-7;
        border-radius: 24px;
        color: $white;
        opacity: 1;
        padding: 6px 40px;
      }
    }
  }
  &-changeRight {
    @include flex(center, flex-end);
  }
  &-card {
    width: 100%;
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
    border-radius: 16px;
    > div {
      border-radius: 0px 0px 16px 16px;
      padding: 32px 52px 0px 52px;
      margin-bottom: 76px;
      gap: 0 24px;
    }
    h2 {
      background-color: $orange-5;
      color: $white;
      border-radius: 16px 16px 0px 0px;
      padding: 6px 0 6px 63px;
    }

    &-avatar {
      cursor: pointer;
      z-index: 100;
      > span {
        position: relative;
        // background-color: green;
        display: inline-block;
        width: 232px;
        height: 232px;
        > img:first-child {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        > img:last-child {
          width: 56px;
          height: 56px;
          object-fit: center;
          position: absolute;
          bottom: -23px;
          left: 116px;
          transform: translateX(-23px);
        }
      }
    }
    form {
      grid-column: 2 / 4;
      grid-row: 1 / 1;
      gap: 24px;
      label {
        font-family: 'Source Sans Pro';
        font-weight: 700;
        font-size: 16px;
        color: $orange-7;
      }
      .form-info-item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 24px;
        input,
        textarea {
          grid-column: 2 / 4;
          grid-row: 1 / 1;
          padding: 9px 16px;
          outline: none;
          border-radius: 8px;
          background-color: $gray-6;
        }
        textarea {
          display: block;
          overflow: hidden;
          resize: none;
          padding: 24px 0px;
        }
        input.active {
          background-color: $white;
        }
      }
      .form-info-control {
        @include flex(center, center);
        grid-column: 1 /3;

        > button:first-child {
          margin-right: 16px;
        }
        > button:last-child {
          margin-left: 16px;
        }
      }
    }
  }
}
