.TableChildren {
  .ant-table-thead .ant-table-cell {
    background-color: $black-7 !important;
  }
}
.TableDescript {
  @include dot(2);
}
.Table-status {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: italic;
  font-size: 16px;
}
.Table-status.green {
  color: #49c510;
}
.Table-status.blue {
  color: #2eacee;
}
.Table-status.red {
  color: #ed2025;
}
.accordionPlus {
  color: $orange-5;
  font-size: 22px !important;
  font-weight: 700;
}

.NoColor {
  > div.ant-collapse-item.ant-collapse-item-active {
    background-image: unset;
    > .ant-collapse-header {
      color: #0b80ec;
    }
  }
}
//ControllerDetail

.ControllerDetail {
  @include flex(center, space-between);
  margin-bottom: 30px;
  margin-top: 38px;
  &-left {
    > a {
      color: $black-7;
      padding: 8px 48px;
      opacity: 0.5;
      border-radius: 24px;
      background-color: $gray-5;
      margin-right: 16px;
      display: inline-block;
    }
    > a.active {
      color: $white;
      background-color: $black-7;
      opacity: 1;
    }
  }
}
