.FormAddDocument {
  margin-bottom: 0 !important;
  .grid-col-8 {
    gap: 16px;
  }
  &-item {
    grid-column: span 7;
    &_upload {
      box-shadow: 9px 0px 34px -16px rgba(0, 0, 0, 0.25);
      @include flex(center, center);
      flex-direction: column;
      padding: 80px 0;
      cursor: pointer;
    }
  }
  .ck.ck-content {
    height: 200px;
  }
}
