.ModalAssigment {
  background-color: $white;
  width: 880px;
  border-radius: 16px;
  padding: 24px 64px;
  > h1 {
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: $black-7;
  }
  &-warp {
    gap: 16px 0;
    > strong {
      grid-column: span 2;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: $black-7;
    }
    span {
      grid-column: span 5;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 16px;
      color: $black-7;
      opacity: 0.8;
    }
    select {
      width: 100%;
      height: 40px;
      padding: 10px 16px;
      border: 1px solid rgba(55, 56, 57, 0.5);
      border-radius: 8px;
    }
    &_controler {
      @include flex(center, center);
      margin-top: 40px;
      > button:first-child {
        margin-right: 16px;
      }
      > button:last-child {
        margin-left: 16px;
      }
    }
  }
  > p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: $black-7;
    margin-top: 26px;
    margin-bottom: 16px;
  }
}
