.UpdateBook-item {
  margin-bottom: 16px;
  &_right {
    grid-column: span 6;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: $black-7;
    opacity: 0.8;
  }
  textarea {
    border: 1px solid rgba(55, 56, 57, 0.5);
    border-radius: 8px;
  }
}
.UpdateBook-btn {
  button:first-child {
    margin-right: 16px;
  }
  button:last-child {
    margin-left: 16px;
    padding: 14px 24px;
  }
}
.UpdateBook-addField {
  border: 1px dashed $orange-6;
  border-radius: 16px;
  background: $orange-1;
  padding: 16px 52px;
  margin-bottom: 16px;
  display: none;
  &_filed {
    @include flex(center, space-between);

    > textarea {
      height: 80px;
      border: 1px solid rgba(55, 56, 57, 0.5);
      border-radius: 8px;
    }
    > textarea:first-child {
      width: 330px;
    }
    > textarea:last-child {
      margin-left: 24px;
    }
  }
  &_btn {
    @include flex(center, flex-end);
    margin-top: 16px;
    > span {
      margin-right: 34px;
      cursor: pointer;
    }
  }
}

// TopicList
.TopicList {
  margin-top: 100px;
  margin-bottom: 200px;
  @include flex(center, center);
  flex-direction: column;
  > h1 {
    font-size: 28px;
    line-height: 33px;
    color: $black-7;
  }
  > p {
    color: #c9c4c0;
  }
}
.SelectHidden2 {
  border: unset;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  appearance: none;
  color: $black-7;
  font-size: 32px;
  font-weight: bold;
  // text-align: right;
  cursor: pointer;
  transform: unset !important;

  > option:first-child {
    display: none;
  }
  > option {
    text-align: left;
  }
}
