.grid {
  width: calc(100% - #{$width-slidebarLeft});
  display: block;
  padding: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}
.main {
  position: absolute;
  top: 0;
  left: $width-slidebarLeft;
  padding-right: 63px;
  padding-left: 105px;
}
