@import './variable.scss';
@import './variableColor.scss';
@import './grid.scss';
@import './mixins.scss';
@import './base.scss';
@import './Pages/Auth/Teamplate.scss';
@import './components/slidebar.scss';
@import './components/user.scss';
@import './components/dropdown.scss';
@import './Home/course.scss';
@import './components/multipleRowsSlick.scss';
