@mixin flex($align-item, $justify-content) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
}
$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);

@each $val in $numbers {
  .grid-col-#{$val} {
    display: grid;
    grid-template-columns: repeat($val, 1fr);
  }
}
@mixin dot($number) {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
