$white: #ffffff;
$black-7: #373839;
$gray: #c9c4c0;
$gray-5: #f2f2f2;
$gray-6: #e1e1e1;
$orange-3: #ffa75e;

$orange-4: #ff7506;
$orange-5: #cc5c00;

$orange-6: #823b00;
$orange-7: #373839;

$orange-gradient: linear-gradient(270deg, #ff5400 0%, #f17f21 80.56%);
