// slidebar
$width-slidebar: 397px;
$width-slidebarLeft: 112px;
$width-slidebarRight: calc(#{$width-slidebar} - #{$width-slidebarLeft});
$width-multipleRows-item: 380px;
$height-multipleRows-item: 132px;
