$white: #ffffff;
$black-7: #373839;
$green: #49c510;
$gray: #c9c4c0;

$gray-2: #f2f2f2;
$gray-4: #999796;

$gray-5: #f2f2f2;
$gray-6: #e1e1e1;
$orange-2: #c5c5c5;
$orange-3: #ffa75e;

$orange-4: #ff7506;
$orange-5: #cc5c00;

$orange-6: #823b00;
$orange-7: #373839;

$orange-gradient: linear-gradient(270deg, #ff5400 0%, #f17f21 80.56%);
$overlay: #f0f3f6;
$success: #3cc13b;
$red: #ed2025;
$blue-4: #0b80ec;
